@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-width: 0;
}

input {
	color-scheme: dark;
}

.rdp {
	--rdp-background-color: #27272A;
	--rdp-accent-color: #BEF264;
	--rdp-selected-color: #1A2E05;
}
